{% extends 'default.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('modules/security/css/style.css') }}"/>
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="container">
        {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div class="alert alert-danger">{{ form_errors(form) }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal text-center">REGISTER</h1>
            <div class="mb-3">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first) }}
            </div>
            <div class="mb-4">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second) }}
            </div>
            <div class="d-grid gap-2 mt-3">
                {{ form_widget(form.register) }}
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
